@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
  }
  :root{
    --white: #ffffff;
    --black : #0f0d6d;
    --burnt-umber : #3533db83;
    --burnt-umber-100 :#9796ED;
  }
  .apple{
    font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
  }
  body{
    /* background-color: rgb(78, 76, 76) */
  }
  .teko{
    font-family:  -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 1px;
  }
  .container {
    max-width: 1140px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex {
    display: flex;
    justify-content: center;
  }
  
  img {
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  
  ul,
  ol {
    list-style: none;
  }
  .white{
    color: var(--white);
  }
  .black{
    color: var(--black);
  }
  .burnt-umber{
    color: var(--burnt-umber);
  }
  .burnt-umber-100{
    color: var(--burnt-umber-100);
  }
  .bg-white{
    background-color: var(--white);
  }
  .bg-black{
    background-color: vat(--black);
  }
  .bg-burnt-umber{
    background-color: var(--burnt-umber);
  }
  .bg-burnt-umber-100{
    background-color: var(--burnt-umber-100);
  }
  .border-burnt{
    border: 1px solid var(--burnt-umber);
  }
  .border-burnt-100{
    border: 1px solid var(--burnt-umber-100);
  }
  .outline-burnt{
    outline: 1px solid var(--burnt-umber);
  }
  .outline-burnt-100{
    outline: 1px solid var(--burnt-umber-100);
  }