@import url(base.css);

/* Header Section css  */

header .bg{
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  padding: 20px;

}
header .logo img{
  width: 50px;
}
.search input::placeholder{
  color: var(--black);
}

/* About Section  */

.about-bg{
  background-image: url(../images/aboutus-bg.webp);
  background-size: cover;
 
}
.about-overlay{
  background-color: #9796edb0;
  padding: 100px 0px;
  border-radius: 6px;

}
.text-about button{
  padding: 8px 20px;
  background-color: var(--black);
  transition: all 0.5s ease;
}
.about-main-bg{
  background-image: url(../images/us-bg-img.jpg);
  background-size: cover;
}

.us-bg img{
  border-radius: 6px;
}

.text-about button:hover .fa-angles-right{
  transform: translateX(3px);
}
/* Footer Section Css  */
.footer-bg {
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  padding: 20px;
}
/* Sign In Page css  */

.main-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/grey-texture-background.jpg);
 
}
.form-box{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.178);
  backdrop-filter: blur(1px);
  background-size: cover;
  position: relative;
}
.form{
  width: 400px;
  background-color: var(--burnt-umber-100);
  backdrop-filter: blur(10px);
  padding: 10px;  
}

.form-box p{
  color: rgb(99, 5, 5);
}
#submit{
 cursor: pointer;
}

/* Write post Post Form  */
.form-post{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.178);
  backdrop-filter: blur(1px);
  background-size: cover;
  position: relative;
}
.form-post .form{
  width: 90%;
  background-color: var(--burnt-umber-100);
  backdrop-filter: blur(10px);
  padding: 10px;
}
.form-post p{
  color: rgb(99, 5, 5);
}



/* Banner Section Css  */
.banner-bg{
  background-image: url(../images/banner-brain-bg-c.jpg);
  background-position: top;
  background-size: cover;
  border-radius: 6px;
}

.banner-text-bg{
  background-color: rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blur(1px); */
  width: 100%;
  height: 100vh;
  padding: 250px 0px;
}

/* blogs Page Css  */

#displayui{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;

}
#sub-div{
  padding: 15px;
  /* height: 350px; */
  background-color: var(--burnt-umber-100);
  border: 1px solid var(--burnt-umber-100);
  border-radius: 6px;
  /* overflow: hidden; */
}
#sub-div img{
  width: 100%;
  height: 180px;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
}
#sub-div h2{
  font-size: 16px ;
  line-height: 28px ;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: left;
}
#sub-div h4{
  margin: 0;
  margin: 8px 0px;
  font-weight: 700;
  text-align: left;
  border-bottom: 1px solid black;
}

#sub-div #context{
  text-align: justify;
  color: black;
  height: 100px;
  width: 100%;
  overflow: auto;
  word-break: break-all;
}
#context::-webkit-scrollbar{
  padding-left: 2px;
  width: 4px;
}
#context::-webkit-scrollbar-track{
  width: 2px;

}
#context::-webkit-scrollbar-thumb{
  background-color: var(--black);
  height: 15px;
}
#sub-div #readmore{
  margin-top: 5px;
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
}
.sort-ul{
  border-bottom: 1px solid grey;
}

/* sign up page css  */

.main-popbox{
  position: absolute;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000b2;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.3s;
  z-index: 999;
}
.pop-up-open{
    visibility: visible;
    transform: scale(1);
}

.hide{
  display: none;
}
.show{
  display: block;
}
.ul-hide{
  right: 100%;
}
.ul-show{
  right: 0;
}
