@import url(base.css);

/* Header Section css  */

header .bg{
  padding: 20px;

}
header .logo img{
  width: 50px;
}


/* Sign In Page css  */

.main-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../images/grey-texture-background.jpg);
 
}
.form-box{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.178);
  backdrop-filter: blur(1px);
  background-size: cover;
  position: relative;
}
.form{
  width: 400px;
  background-color: var(--burnt-umber-100);
  backdrop-filter: blur(10px);
  padding: 10px;
}
.form-box p{
  color: rgb(99, 5, 5);
}
#submit{
 cursor: pointer;
}

/* Blost Post Form  */

.form-post{
  width: 90%;
  background-color: rgb(138, 56, 35);
  backdrop-filter: blur(10px);
  padding: 10px;
}



/* Banner Section Css  */
.banner-bg{
  background-image: url(../images/table-background.jpg);
  background-size: cover;
}

.banner-text-bg{
  background-color: rgba(255, 255, 255, 0.397);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100vh;
  padding: 250px 0px;
}

/* blogs Page Css  */

.sub-display{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  text-align: center;
}


/* sign up page css  */

.main-popbox{
  position: absolute;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000b2;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.3s;
  z-index: 999;
}
.pop-up-open{
    visibility: visible;
    transform: scale(1);
}
